@model IEnumerable<LMS10_1.Models.ContactUs>

@{
    ViewData["Title"] = "Contact us ";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">@ViewData["Title"]</h2>
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.ContactUsId">Details</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.ContactUsId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
